@font-face {
  font-family: "Mabry Pro";
  src: url(../../assets/fonts/Mabry-Pro-Light.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Mabry Pro";
  src: url(../../assets/fonts/Mabry-Pro.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Mabry Pro";
  src: url(../../assets/fonts/Mabry-Pro-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Mabry Pro";
  src: url(../../assets/fonts/Mabry-Pro-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "GT America";
  src: url(../../assets/fonts/GT-America-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
:root {
  --black: #212121;
  --white: #fff;
  --green-1: #009e5c;
  --green-2: #14854d;
  --green-3: #e4fdf0;
  --yellow-1: #fbfbb3;
  --yellow-2: #ffffeb;
  --yellow-3: #fcf376;
  --yellow-4: #fffff5;
  --yellow-5: #fcf988;
  --main-font: Mabry Pro, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--main-font);
  color: var(--black);
  line-height: 1.4em;
}

h2 {
  font-size: 2.75rem;
  line-height: 3.6575rem;
  font-weight: 400;
}

h3 {
  font-size: 2.25rem;
  line-height: 2.9925rem;
  font-weight: 400;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.995rem;
  font-weight: 400;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.6625rem;
  font-weight: 400;
}

h6 {
  font-size: 1.125rem;
  line-height: 1.4963rem;
  font-weight: 700;
}

p,
a {
  font-size: 1rem;
  line-height: 1.33rem;
  font-weight: 400;
}

.hero__h2-top,
.hero__h2-bottom {
  font-size: 4.5rem;
  line-height: 5.265rem;
  font-weight: 700;
  text-transform: uppercase;
}

.hero__h4,
.cta__h4 {
  font-family: GT America, Arial, sans-serif;
}

.badges__h2,
.gather__h3,
.submi__h3,
.submi__h5,
.footer__h6 {
  text-transform: uppercase;
}

.gather__p,
.testimonials__p,
.card__month,
.card__desc,
.footer__p {
  font-size: 1.125rem;
  line-height: 1.4963rem;
}

.pricing__highlighted {
  font-size: 1.75rem;
  line-height: 2.3275rem;
  font-weight: 700;
  text-transform: uppercase;
}

.card__plan {
  text-transform: uppercase;
}

.cta__h2 {
  font-size: 4.5rem;
  line-height: 5.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__privacy,
.footer__copy {
  font-size: 0.875rem;
  line-height: 1.1638rem;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-a {
  font-size: 1.125rem;
  line-height: 1.125rem;
  letter-spacing: 0.0338rem;
  text-transform: uppercase;
}

.btn-a--24 {
  font-size: 1.5rem;
  line-height: 1.375rem;
}

.mobile__a {
  font-size: 1.5rem;
  line-height: 1.995rem;
  font-weight: 700;
}

.btn-sm {
  border-radius: 2.5rem;
  padding: 0.625rem 1.5rem;
}

.btn-md {
  border-radius: 2.5rem;
  padding: 0.75rem 2rem;
}

.btn-large {
  border-radius: 2.5rem;
  padding: 0.75rem 3.25rem;
}

.btn-80 {
  padding: 0.75rem;
  width: 80%;
  border-radius: 2.5rem;
}

.btn-40 {
  padding: 10px;
  width: 40%;
  border-radius: 2.5rem;
}

.btn-black {
  background-color: var(--black);
  color: var(--white);
}

.btn-black:hover {
  filter: brightness(160%);
}

.btn-white {
  background-color: var(--white);
  color: var(--green-2);
}

.btn-yellow {
  background-color: none;
  color: var(--yellow-3);
  border: solid 1px transparent;
}

.btn-yellow:hover {
  border: solid 1px var(--yellow-3);
}

.btn-green {
  background-color: var(--green-2);
  color: var(--white);
  border: 1px solid var(--green-2);
}

.btn-green:hover {
  filter: brightness(90%);
}

.btn-border-back {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
}

.btn-border-back:hover {
  background-color: var(--black);
  color: var(--white);
}

.btn-noborder-black {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--white);
}

.btn-noborder-black:hover {
  border: 1px solid var(--black);
}

.btn-noborder-white {
  background-color: none;
  color: var(--white);
  text-decoration: underline;
  border: 1px solid transparent;
}

.btn-noborder-white:hover {
  border: 1px solid var(--white);
}

@media screen and (max-width: 992px) {
  .btn-40 {
    width: 60%;
  }
}
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.header {
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
  border-bottom: 1px solid var(--black);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  display: none;
}

.mobile {
  background-color: var(--white);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s;
}
.mobile__menu {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.mobile.active {
  display: block;
  opacity: 1;
  visibility: visible;
}

.left {
  z-index: 2;
}
.left__logo {
  width: 128px;
}
.left__ul {
  display: flex;
  align-items: center;
}
.left__logo {
  padding-right: 2rem;
}
.left__li {
  padding-right: 1.5rem;
}

.right {
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero {
  padding-top: 7rem;
  padding-bottom: 7rem;
  animation: fadeInUp 0.4s cubic-bezier(0, 0, 0.2, 1) 0.55s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.hero__h2-top {
  padding-bottom: 0.25rem;
}
.hero__h2-bottom {
  color: var(--green-1);
  padding-bottom: 1.5rem;
}
.hero__container {
  text-align: center;
}
.hero__line {
  padding: 1.5rem 0;
  margin-bottom: 1.5rem;
}
.hero__h4 {
  margin: 0 auto;
  max-width: 43.75rem;
  padding-bottom: 2rem;
}
.hero__buttons {
  display: flex;
  justify-content: center;
}

.carousel {
  width: 100%;
  height: 140px;
  overflow-x: hidden;
  background-color: var(--yellow-1);
  border-bottom: 1px solid var(--black);
  position: relative;
  display: flex;
  align-items: center;
}
.carousel__ul {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: space-between;
}
.carousel__li {
  font-size: 40px;
  padding: 0 67px;
}
.carousel__icon {
  min-width: 80px;
}

.badges {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--yellow-4);
}
.badges__container {
  display: flex;
  justify-content: space-between;
}
.badges__left {
  max-width: 56.25rem;
  flex-shrink: 1;
  padding-right: 24px;
}
.badges__right {
  min-width: 14.25rem;
  position: relative;
}
.badges__img {
  max-width: 10.125rem;
  width: 10.125rem;
  position: absolute;
}
.badges__img:nth-child(1) {
  bottom: -1.5625rem;
  left: -10px;
}
.badges__img:nth-child(2) {
  bottom: -8.125rem;
  left: 4.25rem;
}

.services {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.gather {
  padding-bottom: 3rem;
}
.gather__h3 {
  padding-bottom: 1rem;
  color: var(--green-2);
}
.gather__span {
  color: var(--green-2);
}
.gather__sub-h3 {
  padding-bottom: 2rem;
  max-width: 46.25rem;
}
.gather__row {
  display: flex;
  gap: 1.5rem;
}
.gather__img {
  max-width: 37rem;
  padding-bottom: 1rem;
}
.gather__col {
  flex: 1;
}

.submi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.submi__h3 {
  padding-bottom: 1rem;
  color: var(--green-2);
}
.submi__line {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  padding-right: auto;
}
.submi__svg {
  max-width: 27rem;
  fill: none;
  margin-right: 20px;
}
.submi__col {
  width: 40%;
}
.submi__item {
  padding: 1.5rem;
  border-radius: 3px;
  background-color: var(--yellow-2);
}
.submi__item:nth-child(1) {
  margin-bottom: 16px;
}
.submi__h5 {
  padding-bottom: 1rem;
  color: var(--green-2);
}

.talking {
  width: 100%;
  border-top: 1px solid var(--black);
  overflow-x: hidden;
  background-color: var(--yellow-1);
  padding: 16px 0;
}
.talking__ul {
  padding: 0 1.5rem;
  display: flex;
  gap: 3rem;
}
.talking__h4 {
  color: var(--green-2);
  white-space: nowrap;
  text-transform: uppercase;
}

.testimonials {
  padding-top: 6rem;
  padding-bottom: 6rem;
  border-bottom: 1px solid var(--black);
  background-color: var(--green-1);
}
.testimonials__container {
  width: 58%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonials__item {
  padding: 4rem 5rem;
  margin-bottom: 3rem;
  background-image: url("../assets/images/testimonial-bg.svg");
  background-size: cover;
  background-position: 50% center;
  background-repeat: no-repeat;
  min-height: 23.75rem;
  max-width: 752px;
  color: var(--green-2);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.testimonials__h4 {
  padding-bottom: 1rem;
}
.testimonials__p {
  padding-bottom: 1.5rem;
}
.testimonials__img {
  width: 11.25rem;
  border-radius: 50%;
  position: absolute;
  right: -3.75rem;
  bottom: -3.75rem;
}

.reviews {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.reviews__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews__h2 {
  padding-bottom: 0.5rem;
  color: var(--green-2);
}
.reviews__line {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  padding-right: auto;
}
.reviews__svg {
  max-width: 27rem;
  fill: none;
  margin-right: 20px;
}
.reviews__item {
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: var(--yellow-2);
  position: relative;
}
.reviews__item:nth-child(3) {
  margin: 0;
}
.reviews__col {
  width: 40%;
}
.reviews__h6 {
  padding-bottom: 1rem;
}
.reviews__icon {
  width: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.features {
  padding-top: 6rem;
  padding-bottom: 6rem;
  border-top: 1px solid var(--black);
  background-color: var(--yellow-4);
}
.features__h4 {
  padding-bottom: 1.5rem;
  text-align: center;
  color: var(--green-2);
}
.features__h3 {
  padding-bottom: 3rem;
  text-align: center;
}
.features__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1px;
  background-color: var(--green-2);
}
.features__h6 {
  padding-bottom: 1rem;
}
.features__item {
  padding: 3rem;
  background-color: var(--yellow-4);
}

.starts {
  width: 100%;
  overflow-x: hidden;
  background-color: var(--green-1);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.starts__ul {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}
.starts__li {
  min-width: 3.9375rem;
  padding: 0 1rem;
}

.pricing {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.pricing__highlighted {
  padding-bottom: 1rem;
  text-align: center;
  color: var(--green-1);
}
.pricing__h3 {
  padding-bottom: 1.5rem;
  text-align: center;
}
.pricing__h4 {
  padding-bottom: 3rem;
  text-align: center;
}
.pricing__top {
  padding-bottom: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;
}
.pricing__bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
}
.pricing__card {
  padding: 1.5rem;
  border: solid 1px var(--black);
  border-radius: 4px;
}
.pricing__card--active {
  border: 1px solid var(--green-2);
  background-color: var(--green-3);
}

.card {
  position: relative;
}
.card__plan {
  color: var(--green-2);
  padding-bottom: 1rem;
}
.card__price {
  padding-bottom: 0.5rem;
}
.card__desc {
  padding-bottom: 1.5rem;
}
.card__usage {
  margin-bottom: 0.5rem;
}
.card__select {
  width: 100%;
  background-color: var(--white);
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid var(--black);
  border-radius: 0.375rem;
}
.card__ul {
  padding-left: 1rem;
  margin-bottom: 5rem;
}
.card__li {
  display: list-item;
}
.card__button {
  position: absolute;
  bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.brands {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../assets/images/brands-bg.svg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow-x: hidden;
}
.brands__h2 {
  max-width: 46.875rem;
  padding-bottom: 3rem;
  text-align: center;
  margin: 0 auto;
}
.brands__line {
  max-width: 21.875rem;
  height: 4px;
  background-color: var(--green-1);
  margin: 0 auto 3rem auto;
  border-radius: 4px;
}
.brands__wrapper {
  display: flex;
  justify-content: center;
}
.brands__img {
  min-width: 50rem;
  max-width: 62.5rem;
}

.cta {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: var(--green-2);
  border-bottom: 1px solid var(--black);
}
.cta__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cta__left {
  max-width: 27.5rem;
  padding-bottom: 1.5rem;
}
.cta__right {
  width: 50%;
}
.cta__h2 {
  padding-bottom: 1.5rem;
  color: var(--white);
}
.cta__h4 {
  padding-bottom: 3rem;
  color: var(--white);
}
.cta__line {
  height: 4px;
  background-color: var(--yellow-5);
}
.cta__buttons {
  display: flex;
}

.footer__img {
  width: 9.625rem;
  padding-bottom: 1rem;
}
.footer__top {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
.footer__left {
  padding-top: 6rem;
  padding-bottom: 8rem;
  border-right: 1px solid var(--black);
}
.footer__right {
  padding: 4rem 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer__h6 {
  padding-bottom: 1.5rem;
}
.footer__a {
  padding-bottom: 1rem;
}
.footer__a--pad {
  padding-bottom: 1.5rem;
}
.footer__bottom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid var(--black);
}
.footer__bottom-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}
.footer__icon {
  width: 1.5rem;
}

@media screen and (max-width: 1340px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .cta__left {
    max-width: 22.5rem;
  }
}
@media screen and (max-width: 992px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .left__li:last-child,
.header__btn-signin {
    display: none;
  }
  .badges__container {
    flex-direction: column;
    gap: 1rem;
  }
  .badges__img:nth-child(1) {
    position: static;
  }
  .badges__img:nth-child(2) {
    display: none;
  }
  .gather__row {
    flex-direction: column;
  }
  .testimonials__container {
    width: 80%;
  }
  .testimonials__img {
    position: static;
    width: 6.25rem;
    margin-top: 1rem;
  }
  .cta__container {
    flex-direction: column;
    text-align: center;
  }
  .cta__h2 {
    max-width: 43.75rem;
    margin: 0 auto;
  }
  .cta__left, .cta__right {
    min-width: 100%;
  }
  .cta__buttons {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .footer__top {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .footer__left {
    text-align: center;
    row-gap: 2rem;
    border-right: none;
    padding-top: 4rem;
    padding-bottom: 1rem;
  }
  .footer__right {
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
  }
  .hero__h2-top,
.hero__h2-bottom {
    font-size: 4rem;
    line-height: 4.68rem;
  }
  h2,
h3 {
    font-size: calc(1.35rem + 1.2vw);
  }
  h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  .pricing__highlighted {
    font-size: calc(1.3rem + 0.6vw);
  }
  .cta__h2 {
    font-size: calc(1.575rem + 3.9vw);
  }
}
@media screen and (max-width: 768px) {
  .burger {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  .bar {
    width: 1.5rem;
    height: 3px;
    transition: all 0.3s ease-in-out;
    background-color: var(--black);
  }
  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .left__li {
    display: none;
  }
  .hero {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .hero__buttons {
    justify-content: stretch;
    flex-direction: column;
    gap: 1rem;
  }
  .submi {
    flex-direction: column;
  }
  .submi__col {
    width: 100%;
  }
  .submi__wrapper {
    padding-bottom: 3rem;
  }
  .testimonials__container {
    width: 100%;
  }
  .reviews__container {
    flex-direction: column;
  }
  .reviews__col {
    width: 100%;
  }
  .reviews__wrapper {
    padding-bottom: 3rem;
  }
  .features__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .features__item {
    padding: 1.5rem;
  }
  .pricing__top,
.pricing__bottom {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
  .hero__h2-top,
.hero__h2-bottom {
    font-size: 3rem;
    line-height: 3.51rem;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .features__grid {
    grid-template-columns: 1fr;
  }
  .features__item {
    text-align: center;
  }
}

/*# sourceMappingURL=app.css.map */
