@media screen and (max-width: 1340px) {
	.container {
		padding-left: 4rem;
		padding-right: 4rem;
	}

	.cta__left {
		max-width: 22.5rem;
	}
}

@media screen and (max-width: 992px) {
	.container {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.left__li:last-child,
	.header__btn-signin {
		display: none;
	}

	.badges__container {
		flex-direction: column;
		gap: 1rem;
	}

	.badges__img:nth-child(1) {
		position: static;
	}

	.badges__img:nth-child(2) {
		display: none;
	}

	.gather__row {
		flex-direction: column;
	}

	.cta {
		&__container {
			flex-direction: column;
			text-align: center;
		}

		&__left,
		&__right {
			min-width: 100%;
		}
	}

	.footer__top {
		grid-template-columns: 1fr;
		justify-items: center;
	}

	.footer__right {
		grid-template-columns: 1fr;
	}

	.footer__left {
		text-align: center;
		row-gap: 2rem;
	}

	.hero__h2-top,
	.hero__h2-bottom {
		font-size: 4rem;
		line-height: 4.68rem;
	}

	h2,
	h3 {
		font-size: calc(1.35rem + 1.2vw);
	}

	h4 {
		font-size: calc(1.275rem + 0.3vw);
	}

	.pricing__highlighted {
		font-size: calc(1.3rem + 0.6vw);
	}

	.cta__h2 {
		font-size: calc(1.575rem + 3.9vw);
	}
}

@media screen and (max-width: 768px) {
	.left__li {
		display: none;
	}

	.hero {
		padding-top: 6rem;
		padding-bottom: 6rem;

		&__button {
			justify-content: stretch;
			flex-direction: column;
		}
	}

	.submi {
		flex-direction: column;

		&__col {
			width: 100%;
		}

		&__wrapper {
			padding-bottom: 3rem;
		}
	}

	.reviews {
		&__container {
			flex-direction: column;
		}

		&__col {
			width: 100%;
		}

		&__wrapper {
			padding-bottom: 3rem;
		}
	}

	.features__grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.pricing__top,
	.pricing__bottom {
		grid-template-columns: 1fr;
	}

	.hero__h2-top,
	.hero__h2-bottom {
		font-size: 3rem;
		line-height: 3.51rem;
	}
}

@media screen and (max-width: 576px) {
	.features__grid {
		grid-template-columns: 1fr;
	}
}
