@font-face {
	font-family: "Mabry Pro";
	src: url(../../assets/fonts/Mabry-Pro-Light.ttf);
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Mabry Pro";
	src: url(../../assets/fonts/Mabry-Pro.ttf);
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Mabry Pro";
	src: url(../../assets/fonts/Mabry-Pro-Medium.ttf);
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Mabry Pro";
	src: url(../../assets/fonts/Mabry-Pro-Bold.ttf);
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "GT America";
	src: url(../../assets/fonts/GT-America-Regular.ttf);
	font-style: normal;
	font-weight: 400;
}
