@font-face {
	font-family: "Mabry Pro";
	src: url(../../assets/fonts/Mabry\ Pro\ Light.otf);
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Mabry Pro";
	src: url(../../assets/fonts/Mabry\ Pro.otf);
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Mabry Pro";
	src: url(../../assets/fonts/Mabry\ Pro\ Medium.otf);
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Mabry Pro";
	src: url(../../assets/fonts/Mabry\ Pro\ Bold.otf);
	font-style: normal;
	font-weight: 700;
}
