@use "fonts" as *;

h2 {
	font-size: 2.75rem;
	line-height: 3.6575rem;
	font-weight: 400;
}

h3 {
	font-size: 2.25rem;
	line-height: 2.9925rem;
	font-weight: 400;
}

h4 {
	font-size: 1.5rem;
	line-height: 1.995rem;
	font-weight: 400;
}

h5 {
	font-size: 1.25rem;
	line-height: 1.6625rem;
	font-weight: 400;
}

h6 {
	font-size: 1.125rem;
	line-height: 1.4963rem;
	font-weight: 700;
}

p,
a {
	font-size: 1rem;
	line-height: 1.33rem;
	font-weight: 400;
}

.hero__h2-top,
.hero__h2-bottom {
	font-size: 4.5rem;
	line-height: 5.265rem;
	font-weight: 700;
	text-transform: uppercase;
}

.hero__h4,
.cta__h4 {
	font-family: GT America, Arial, sans-serif;
}

.badges__h2,
.gather__h3,
.submi__h3,
.submi__h5,
.footer__h6 {
	text-transform: uppercase;
}

.gather__p,
.testimonials__p,
.card__month,
.card__desc,
.footer__p {
	font-size: 1.125rem;
	line-height: 1.4963rem;
}

.pricing__highlighted {
	font-size: 1.75rem;
	line-height: 2.3275rem;
	font-weight: 700;
	text-transform: uppercase;
}

.card__plan {
	text-transform: uppercase;
}

.cta__h2 {
	font-size: 4.5rem;
	line-height: 5.4rem;
	font-weight: 700;
	text-transform: uppercase;
}

.footer__privacy,
.footer__copy {
	font-size: 0.875rem;
	line-height: 1.1638rem;
	font-weight: 400;
	text-transform: uppercase;
}

.btn-a {
	font-size: 1.125rem;
	line-height: 1.125rem;
	letter-spacing: 0.0338rem;
	text-transform: uppercase;
}

.btn-a--24 {
	font-size: 1.5rem;
	line-height: 1.375rem;
}

.mobile__a {
	font-size: 1.5rem;
	line-height: 1.995rem;
	font-weight: 700;
}
