@use "fonts" as *;

:root {
	--black: #212121;
	--white: #fff;
	--green-1: #009e5c;
	--green-2: #14854d;
	--green-3: #e4fdf0;
	--yellow-1: #fbfbb3;
	--yellow-2: #ffffeb;
	--yellow-3: #fcf376;

	--main-font: Mabry Pro, Arial, sans-serif;
}
